<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calculatorapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Scale.scale"
            android:label="进制单位换算"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".help"
            android:label="help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Long.unit_activity" />
        <activity
            android:name=".Long.LengthChange"
            android:label="长度单位换算"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Scale.scale_unit_activity" />
    </application>

</manifest>